

@{ 
    Layout = null;
}


<style type="text/css">
    tr {
        height: 50px;
    }
</style>

<h4 style="color:blue Background; text-align:center;">@ViewBag.ThongBao</h4>
<table align="center">
    <h2 style="text-align:center">ĐĂNG KÝ TÀI KHOẢN </h2> 
    @using (Html.BeginForm("Register", "User"))
    {
        @Html.ValidationSummary(true)
        <tr>
            <td>Họ tên:</td>
            <td>@Html.TextBox("Họ Và Tên") @ViewData["t1"]</td>
        </tr>
        <tr>
            <td>Tên đăng nhập:</td>
            <td>@Html.TextBox("Tên Đăng Nhập") @ViewData["t2"]</td>
        </tr>
        <tr>
            <td>Mật khẩu:</td>
            <td>@Html.Password("Mật khẩu của bạn") @ViewData["t3"]</td>
        </tr>
        <tr>
            <td>Mật khẩu nhập lại:</td>
            <td>@Html.Password("Nhập lại mật khẩu") @ViewData["t4"]</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>@Html.TextBox("Nhập Email") @ViewData["t6"]</td>
        </tr>
        <tr>
            <td>Điện thoại:</td>
            <td>@Html.TextBox("Số điện thoại của bạn") @ViewData["t7"]</td>
        </tr>
        <tr>
            <td>Quốc Gia:</td>
            <td>@Html.TextBox("Quốc gia của bạn") @ViewData["t8"]</td>
        </tr>
        <tr>
            <td>Ngày sinh:</td>
            <td><input type="date" name="NgaySinh" /></td>
        </tr>
        <tr>
            <td>Địa chỉ:</td>
            <td><input type="text" name="DiaChi" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Đăng ký tài khoản" /> <input type="reset" value="Sửa Thông Tin" /></td>
        </tr>
    }
</table>

